
{% load static %}

<header id="masthead" class="site-header header-v7" style="background-image: none; padding: 1px; " >
                <div class="desktop-only">
                    <div class="techmarket-sticky-wrap" style="padding:0px;">
                        <div class="row" style="padding:5px;">
                             <div class="site-branding" style="flex-grow:0;padding-left:5%">
                                <a href="/" class="custom-logo-link" rel="home">
                                    <img style="height:60px;" src="{% static "assets/images/logo.png" %}" />
                                </a>
                                <!-- /.custom-logo-link -->
                            </div>
                            <!-- .primary-navigation -->
                            <nav id="primary-navigation" class="primary-navigation" aria-label="Primary Navigation" data-nav="flex-menu">
                                <ul id="menu-primary-menu" class="nav yamm">
                                    {% for title, small_titles in titles.items %}
                                    <li class="menu-item menu-item-has-children animate-dropdown dropdown">
                                        <a title="Women" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">{{ title }}<span class="caret"></span></a>
                                        <ul role="menu" class=" dropdown-menu">
                                            {% for s in small_titles %}
                                                <li class="menu-item animate-dropdown">
                                                    <a title="{{s}}" href="/{{ s.url }}-{{ s.pk }}">{{ s.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <!-- .dropdown-menu -->
                                    </li>
                                    {% endfor %}

                                    <li class="techmarket-flex-more-menu-item dropdown">
                                        <a title="..." href="#" data-toggle="dropdown" class="dropdown-toggle">...</a>
                                        <ul class="overflow-items dropdown-menu"></ul>
                                        <!-- . -->
                                    </li>
                                </ul>
                                <!-- .nav -->
                            </nav>
                            <div class="site-search">
                                    <div class="widget woocommerce widget_product_search">
                                        <form role="search" method="GET" class="woocommerce-product-search" style="width:300px;" action="/search">
                                            <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                            <input type="search" id="woocommerce-product-search-field-1" class="search-field" placeholder="Tìm kiếm sản phẩm&hellip;" value="" name="search" />
                                            <input type="submit" value="Search" />
                                        </form>
                                    </div>
                                    <!-- .widget -->
                                </div>
                            <!-- ============================================================= End Header Logo ============================================================= -->

                            <!-- .header-compare -->

                            <!-- .header-wishlist -->
                            <ul id="site-header-cart" class="site-header-cart menu">
                                <li class="animate-dropdown dropdown ">
                                    <a class="cart-contents" href="cart.html" data-toggle="dropdown" title="View your shopping cart">
                                        <i class="tm tm-shopping-bag"></i>
                                        <span id="length_cart" class="count">0</span>
                                        <span class="amount">
                                            <span class="price-label">Giỏ hàng</span>
                                            <span id="total_price"></span><sup>đ</sup>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-mini-cart">
                                        <li>
                                            <div class="widget woocommerce widget_shopping_cart">
                                                <div class="widget_shopping_cart_content">
                                                    <ul class="woocommerce-mini-cart cart_list product_list_widget " id="cart">

                                                    </ul>
                                                    <!-- .cart_list -->
                                                    <p class="woocommerce-mini-cart__total total">
                                                        <strong>Tổng tiền:</strong>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">
                                                            </span><span id="total_price_bar"></span><sup>đ</sup>
                                                        </span>
                                                    </p>
                                                    <p class="woocommerce-mini-cart__buttons buttons">
                                                        <a href="/cartboard" class="button wc-forward">Tiến hành đặt hàng</a>
                                                    </p>
                                                </div>
                                                <!-- .widget_shopping_cart_content -->
                                            </div>
                                            <!-- .widget_shopping_cart -->
                                        </li>
                                    </ul>
                                    <!-- .dropdown-menu-mini-cart -->
                                </li>
                            </ul>
                            <!-- .site-header-cart -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.techmarket-sticky-wrap -->
                </div>
                <!-- .col-full -->
                <div class="col-full handheld-only">
                    <div class="handheld-header">
                        <div class="row">
                            <div class="site-branding">
                                <a href="/" class="custom-logo-link" rel="home">
                                    <img style="height:50px;" src="{% static "assets/images/logo.png" %}" />
                                </a>
                                <!-- /.custom-logo-link -->
                            </div>
                            <!-- /.site-branding -->
                            <!-- ============================================================= End Header Logo ============================================================= -->

                            <!-- .handheld-header-links -->
                        </div>
                        <!-- /.row -->
                        <div class="techmarket-sticky-wrap">
                            <div class="row">
                                <nav id="handheld-navigation" class="handheld-navigation" aria-label="Handheld Navigation">
                                    <button class="btn navbar-toggler" type="button">
                                        <i class="tm tm-departments-thin"></i>
                                        <span>Menu</span>
                                    </button>
                                    <div class="handheld-navigation-menu">
                                        <span class="tmhm-close">Close</span>
                                        <ul id="menu-departments-menu-1" class="nav">
                                            <li class="highlight menu-item animate-dropdown">
                                                <a title="New Arrivals" href="#">New Arrivals</a>
                                            </li>
                                            {% for title, small_titles in titles.items %}
                                            <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown-submenu">
                                                <a title="Computers &amp; Laptops" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">{{ title }} <span class="caret"></span></a>
                                                <ul role="menu" class=" dropdown-menu">
                                                    <li class="menu-item menu-item-object-static_block animate-dropdown">
                                                        <div class="yamm-content">
                                                            <!-- .bg-yamm-content -->
                                                            <div class="row yamm-content-row">
                                                                <div class="col-md-6 col-sm-12">
                                                                    <div class="kc-col-container">
                                                                        <div class="kc_text_block">
                                                                            <ul>
                                                                                <li class="nav-title">Computers &amp; Accessories</li>
                                                                                {% for s in small_titles %}
                                                                                <li><a href="/{{s.url}}-{{s.pk}}">{{ s.name }}</a></li>
                                                                                {% endfor %}
                                                                                <li class="nav-divider"></li>
                                                                            </ul>
                                                                        </div>
                                                                        <!-- .kc_text_block -->
                                                                    </div>
                                                                    <!-- .kc-col-container -->
                                                                </div>
                                                                <!-- .kc_column -->
                                                                <!-- .kc_column -->
                                                            </div>
                                                            <!-- .kc_row -->
                                                        </div>
                                                        <!-- .yamm-content -->
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- .handheld-navigation-menu -->
                                </nav>
                                <!-- .handheld-navigation -->
                                <div class="site-search">
                                    <div class="widget woocommerce widget_product_search">
                                        <form role="search" method="GET" class="woocommerce-product-search" action="/search">
                                            <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                            <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Tìm kiếm sản phẩm&hellip;" value="" name="search" />
                                            <input type="submit" value="Search" />
                                        </form>
                                    </div>
                                    <!-- .widget -->
                                </div>
                                <!-- .site-search -->
                                <a class="handheld-header-cart-link has-icon" href="/cartboard" title="View your shopping cart">
                                    <i class="tm tm-shopping-bag"></i>
                                    <span id="amount_mobile" class="count">2</span>
                                </a>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- .techmarket-sticky-wrap -->
                    </div>
                    <!-- .handheld-header -->
                </div>
                <!-- .handheld-only -->
            </header>
            <script>
                function checkCart() {
                    var total = 0;
                    if (localStorage.getItem("cart") === null ) {
                        document.getElementById("length_cart").innerHTML = 0;
                        document.getElementById("amount_mobile").innerHTML = 0;
                    } else {
                        const cart = JSON.parse(localStorage.getItem("cart"));
                        document.getElementById("length_cart").innerHTML = cart.length;
                        document.getElementById("amount_mobile").innerHTML = cart.length;
                        var html_product = ""
                        for (var key in cart) {
                                html_product += "<li class='woocommerce-mini-cart-item mini_cart_item'>"
                                html_product += "<a href='#' class='remove' name='" + cart[key].name + "' onclick='removeProduct(this.name)' aria-label='Remove this item' data-product_id='65' data-product_sku=''>×</a>";
                                html_product += "<a href='single-product-sidebar.html'>"
                                html_product += "<img id='' src='"+ cart[key].image +"' class='attachment-shop_thumbnail size-shop_thumbnail wp-post-image' alt=''>" + cart[key].name
                                html_product += "</a>";
                                html_product += "<span class='quantity'>" + cart[key].amount.toString() + " ×"
                                html_product += "<span class='woocommerce-Price-amount amount'>"
                                html_product += "<span class='woocommerce-Price-currencySymbol'></span>" + cart[key].price + "</span>"
                                html_product += "</span></li>"
                                total = total + Number(cart[key].price_number)*Number(cart[key].amount);
                        }
                        document.getElementById("cart").innerHTML = html_product;
                        document.getElementById("total_price").innerHTML = total;
                        document.getElementById("total_price_bar").innerHTML = total;
                    }

                 };
                function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0)==' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length,c.length);
                        }
                    }
                    return "";
                }

                function removeProduct(name) {
                    const cart = JSON.parse(localStorage.getItem("cart"));
                    for (var key in cart) {
                        if (cart[key].name === name) {
                            console.log("Xóa mẹ thằng ml này giùm")
                            const new_cart = cart.filter(x => x.name !== name);
                            localStorage.setItem("cart",JSON.stringify(new_cart));
                            checkCart();
                            notificationRemove();
                        }
                    }
                }
                function notificationRemove() {
                    toastr.options = {
                      "closeButton": false,
                      "debug": false,
                      "newestOnTop": false,
                      "progressBar": true,
                      "positionClass": "toast-top-right",
                      "preventDuplicates": true,
                      "showDuration": "300",
                      "hideDuration": "1000",
                      "timeOut": "2000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
                   toastr.info('Sản phẩm đã được xóa khỏi giỏ hàng')
                }


                 checkCart();
            </script>