{% extends 'toplink.html'  %}
{% load static %}
{% block body %}

    <body class="woocommerce-active left-sidebar pace-done">
        <div id="page" class="hfeed site">
            {% include "header.html" %}
            <!-- .header-v7 -->
            <!-- ============================================================= Header End ============================================================= -->
            <div id="content" class="site-content" tabindex="-1">
                <div class="col-full">
                    <div class="row">
                        <nav class="woocommerce-breadcrumb">
                            <a href="/">Trang chủ</a>
                            <span class="delimiter">
                                <i class="tm tm-breadcrumbs-arrow-right"></i>
                            </span><a href="{% url 'group' page=group_type.name_filter pk=group_type.pk %}">{{ group_type.name }} </a>
                        </nav>
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                {% include "plugin/all_product_type.html" %}
                                <!-- .banner -->

                                <!-- .brands-carousel -->
                            </main>
                            <!-- #main -->
                        </div>
                        {% include 'plugin/secondary.html' %}
                        
                        <!-- #primary -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .col-full -->
            </div>
            <!-- #content -->

            {% include 'footer.html' %}
            <!-- .site-footer -->
        </div>
    </body>


{% endblock %}