{% extends 'toplink.html'  %}
{% load static %}
{% block body %}

    <body class="page home page-template-default">
        <div id="page" class="hfeed site">
            {% include "header.html" %}
            <!-- .header-v7 -->
            <!-- ============================================================= Header End ============================================================= -->
            <div id="content" class="site-content" tabindex="-1">
                <div class="col-full">
                    <div class="row">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                {% include "plugin/slide.html" %}
                                {% include "plugin/products-tab.html" %}
                                <!-- .section-products-tabs -->
                                {% include "plugin/group_product_plugin.html" %}
                                <!-- .banner -->

                                <!-- .banners -->
                                {% include "plugin/banners.html" %}
                                <!-- .banner -->

                                <!-- .brands-carousel -->
                            </main>
                            <!-- #main -->
                        </div>
                        <!-- #primary -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .col-full -->
            </div>
            <!-- #content -->

            {% include 'footer.html' %}
            <!-- .site-footer -->
        </div>
    </body>


{% endblock %}